@media print{
    
    body {
        font-family: 'Times New Roman', Times, serif;
        font-size:12pt;
    }

    @page {
        margin:0;
    }
    
.marginPrint{
    margin:10px;
}
  

.pageArea {
    width: 21cm;
    height: 29.7cm;
    margin: 30px auto 30px auto;
    border: solid 1px black;
    padding: 0.8cm;

    font-family: 'Times New Roman', Times, serif ;
    font-size: 8pt;
    background-color: white;
}


.title-landscape{
    font-size: 16px;
}
.pageArea-landscape {
   height: 21cm;
   width: 29.7cm;
   margin: 30px auto 30px auto;
   padding: 0.8cm;

   font-family: 'Times New Roman', Times, serif ;
   font-size: 8pt;

   background-color: white;
}

#pageArea-A5 {
   width: 14.8cm;
   min-height: 21cm;
   margin: 30px auto 30px auto;
   border: solid 1px black;
   padding: 0.8cm;

   font-family: 'Times New Roman', Times, serif ;
   font-size: 8pt;
   background-color: white;
}

#pageArea-A5-landscape {
   height: 14.8cm;
   width: 21cm;
   margin: 30px auto 30px auto;
   border: solid 1px black;
   padding: 0.8cm;

   font-family: 'Times New Roman', Times, serif ;
   font-size: 8pt;
   background-color: white;
}


td.rotate {
   /* height: 110px;
   white-space: nowrap; */
   vertical-align: bottom;
   
}


td.rotate > div {
    transform: translate(0,-30px) rotate(-90deg);
    
}

td.rotate > div > div {
   
   display: inline-block;
}

td.col1 > div > div {
   width:100px;
   height: 50px;
}

.karne {
    font-size: 12pt;
    
}

.karne h4 {
    font-size: 16pt;
    text-align: center;
    font-weight: 900;
    margin-bottom: 0px;
}

.karne h5 {
    font-size: 12pt;
    text-align: center;
    margin-top: 0px;

}

.frame {
    border-style: double;
    border-width: thick;
    border-color: black;
    padding: 10px;
}

.table-div-page > tbody >tr > td:first-child {
    padding-right: 10px;
}

.table-div-page > tbody >tr > td:nth-child(2) {
   padding-left: 10px;
}

.table {
    border-color: black;
}

.table-bordered-thin  {
    border: solid 1px black;
    width: 100%;
}

.table-bordered-thin  td,.table-bordered-thin  th,.table-bordered-thin  tr {

    border: solid 1px black;

}


.col-6{
    padding: 10px;
    
    width:50%;
}
.d-flex{
    display: flex;
}
.table td {
    padding: 1px;
}
#ddd{
    margin:10px !important;
    padding:10px !important;
}

    .w-100 {
        width:100%;
    }
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}