<div class="row">
    <div class="input-group flex-nowrap col">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width:150px">Proje Adı</span>
        </div>
        <input type="text" class="form-control" placeholder="Proje Adı">
    </div>
</div>
<div class="row py-2">
    <div class="input-group flex-nowrap col">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width:150px">Proje Süresi</span>

        </div>
        <input type="text" class="form-control" placeholder="Proje Süresi">
    </div>
</div>
<div class="row py-2">
    <div class="input-group flex-nowrap col">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width:150px">Proje Bütçesi</span>

        </div>
        <input type="text" class="form-control" placeholder="Proje Bütçesi">
    </div>
</div>
<div class="row py-2">
    <div class="input-group flex-nowrap col">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width:150px">Resimler</span>

        </div>
        <input type="file" class="form-control">
    </div>
</div>
<div class="row py-2">
    <div class="input-group flex-nowrap col">
        <div class="input-group-prepend">
            <span class="input-group-text" style="width:150px">Açıklama</span>

        </div>
        <textarea class="form-control"></textarea>
    </div>
</div>